mixin video(video)
    div.trendingVideo
        a(href=`/video/${video.id}`)
            div.thumbnailContainer
                img(src="/thumbnail").thumbnail
        div.infoContainer
            h4.videoTitle
                a(href=`/video/${video.id}`)=video.title
            p.videoOwner
                a(href="/user/"+video.owner._id)=video.owner.name
            div.hashtagContainer
                each tag in video.hashtags
                    span.hashtag #{tag}&emsp;
            p.createdTime #{video.createdAt}