extends base.pug

block content
    div 
        h2=video.title
        p=video.description
        small=video.createdAt
    hr
    a(href=`${video.id}/edit`) ✏️Edit
    br
    a(href=`${video.id}/delete`) ❌Delete